<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Slide 27</title>
		<style>
			.flex_container{
				width:70%;
				height:500px;
				margin:10px auto;
				display:flex;
				flex-wrap:wrap;
				justify-content:space-around;
				background-color:black;
			}
			.flex_item{
				background-color:beige;
				width:200px;
				height:100px;
				text-align:center;
				font-size:100px;
			}
			.flex_item_expanded{
				background-color:bisque;
				width:500px;
			}
			.first_item{
				order:1;
			}
			.second_item{
				order:2;
			}
			.last_item{
				order: -1;
			}
		</style>
	</head>
	<body>
		<div class="flex_container">
			<div class="flex_item last_item">
				1
			</div>
			<div class="flex_item last_item">
				2
			</div>
			<div class="flex_item last_item">
				3
			</div>
			<div class="flex_item last_item">
				4
			</div>
			<div class="flex_item flex_item_expanded">
				5
			</div>
			<div class="flex_item second_item">
				6
			</div>
		</div>
	</body>
</html>