@charset "ISO-8859-1";
div{
	text-align: center;
	border: 2px dashed red;
	width: 400px;
	height: 200px;
}

#div1{
	background-color: aqua;
}
#div2{
	background-color: antiquewhite;
}
#div3{
	background-color: blueviolet;
}