<!DOCTYPE html>
<html>
    <head>
    <meta charset="ISO-8859-1">
    <title>Calculation Numbers Assignment Problem 2</title>
    </head>
    <body>
        <!--We want to make a simple calculator that can add and subtract integers 
            and will accept arbitrarily long mathematical formulas composed of 
            symbols +, -, and non-negative integer numbers.-->
        <script>
            var userWidth = prompt("Please enter the equation with + and - operators.");
            console.log(userWidth);//print the expression
            console.log(eval(userWidth));//evaluates the expression and prints answer
        </script>

    </body>
</html>