<!DOCTYPE html>
<html>
    <head>
    <meta charset="ISO-8859-1">
    <title>Calculation Numbers Assignment Problem 3</title>
    </head>
    <body>
        <!--Write a better version of the calculator, calc2.html, that can evaluate
             multiple arithmetic expressions. Let’s use the semicolon symbol that 
             must be used at the end of each expression in the input.
            -->
        <script>
            var userWidth = prompt("Please enter the equation with + and - operators.");
            console.log(userWidth);//print the expression
            var data = userWidth.split(";");//seperate each equation by ';'
            console.log(data);
            //evaluate each equation
            for(var i=0;i<data.length;i++){
                if(data[i]==""){
                    continue;
                }else{console.log(eval(data[i]));}
            }            
        </script>
    </body>
</html>