<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Slide 30</title>
    </head>
    <body>
        <script>
            //var obj={};
            //obj;
            /*console.log("I am here.");  
            var obj={x:1,y:2};
            var a=Object.create({a:2,b:3});
            console.log(obj.x);
            console.log(obj.y);
            console.log(obj.toSting);
            delete obj.x;
            console.log(obj.x);
            delete a.b;
            console.log(a.b);*/
            var obj1 = Object.create({x:1,y:2});
            for(var i in obj1){
                console.log(i);
                console.log(obj1[i]);
            }
        </script>

    </body>
</html>