@charset "ISO-8859-1";
.transform-circle{
	width:300px;
	height:300px;
	background-color:aquamarine;
	border-radius:80%;
	text-align:center;
	transform: translate(30px, 80px) rotate(30deg);
	display:inline-block;
}
.fadeInDown{
	-webkit-animation-name:fadeInDown;
	animation-name: fadeInDown;
	animation-duration: 7s;
	width: 100px;
	height:100px;
	background-color:aqua;
	text-align: center;
	display:inline-block;
}
@keyframes fadeInDown{
	from{
		opacity:0;
		-webkit-transform:translate3d(0,-100%,0);
		transform: translate3d(0,-100%,0);
	}
	to{
		opacity:1;
		-webkit-transform:translate3d(0,0,0);
		transform:translate3d(0,0,0);
	}
}
.hinge{
	-webkit-animation-duration:2s;
	animation-duration:2s;
	-webkit-animation-name:hinge;
	animation-name:hinge;
	width:100px;
	height:100px;
	position:relative;
	left:150px;
	background-color:aqua;
	text-align:center;
	display:inline-block;
}
@keyframes hinge{
		0%{
		-webkit-transform-origin:top left;
		transform-origin:top left;
		-webkit-animation-timing-function:ease-in-out;
		animation-timing-function:ease-in-out;
		}
		20%,
		60%{
		-webkit-transform:rotate3d(0,0,1,80deg);
		transform:rotate3d(0,0,1,80deg);
		-webkit-transform-origin: top left;
		transform-origin:top left;
		-webkit-animation-time-function:ease-in-out;
		animation-time-function:ease-in-out;
		}
		40%,
		80%{
		-webkit-transform:rotate3d(0,0,1,80deg);
		transform:rotate3d(0,0,1,80deg);
		-webkit-transform-origin: top left;
		transform-origin:top left;
		-webkit-animation-time-function:ease-in-out;
		animation-time-function:ease-in-out;
		opacity:1;
		}
		to{
			-webkit-transform:rotate3d(0,700px,0);
			transform:rotate3d(0,700px,0);
			opacity:0;
		}
	}
/*
.hinge{
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-name: hinge;
	animation-name: hinge;
	width: 100px;
	height: 100px;
	position: relative;
	left: 150px;
	background-color: aqua;
	text-align: center;
	}
	
@Keyframes hinge{
	0%{
		-webkit-transform-origin: top-left;
		transform-origin: top-left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		}
	20%,
	60%{
		-webkit-transform: rotate3d(0,0,1,80deg);
		transform: rotate3d(0,0,1,80deg);
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		
	}
	40%,
	80%{
		-webkit-transform: rotate3d(0,0,1,60deg);
		transform: rotate3d(0,0,1,60deg);
		-webkit-transform-origin: top left;
		transform-origin: top left;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		opacity: 1;
	
	}
	to{
		-webkit-transform: translate3d(0,700px,0);
		transform: translate3d(0,700px,0);
		opacity: 0;
	}
} 
*/
 
	