@charset "ISO-8859-1";
.box{
    width:200px;
    height:200px;
    border:2px solid blue;
    margin:35px;
}
.box1{
    width:70px;
    height:70px;
    background-color:aqua;
    text-align:center;
    animation-name:box;
    animation-duration: 4s;
    position: relative;
    z-index:1;
    margin:-35px;
}
@keyframes box{
    0%{left:0px;top:0px;}
    25%{left:200px;top:0px;}
    50%{left:200px;top:200px;}
    75%{left:0px;top:200px;}
    100%{left:0px;top:0px;}    
}