<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <title>Slide 30 - Linked List</title>
    </head>
    <body>
        <script>
            var LinkedList = function(){
                this.head = null;
                this.size = 0;
                this.addtoTail = function(v){
                    var node = new Node(v);
                    if (this.head === null){
                        this.head = node;
                        this.size++;
                        return;
                    }
                    var current = this.head;
                    while(current.next != null){
                        current = current.next;
                    }
                    current.next = node;
                    this.size++;
                } 
                // add a new node at the head of the list
                this.addToHead = function(v){
                    var node = new Node(v);
                    if (this.head === null){//if the list is empty
                        this.head = node;
                        this.size++;                        
                    }else {
                        node.next = this.head;
                        this.head = node; 
                        this.size++;                       
                    }
                    return;
                }
                this.insertAtIndex = function(index,v){
                    var node = new Node(v);
                    if (index < 0 || index > this.size){
                        delete node;    
                        return;            
                    }
                    if(this.head === null){
                        this.head = node;
                        this.size++;
                        return;
                    }
                    if(index === 0){
                        delete node;
                        this.addToHead(v);
                        return;
                    }
                    if(index === this.size){
                        delete node;
                        this.addtoTail(v);
                        return;
                    }
                    var i = 0;
                    var current = this.head;
                    while(i<index - 1){
                        current = current.next;
                        i++;
                    }
                    node.next = current.next;
                    current.next = node;
                    this.size++;
                }
                this.addToSecond = function(v){
                    var node = new Node(v);
                    if (this.head === null){//if the list is empty
                        this.head = node;                                                
                    }else { // if list contains 1 or more nodes
                        node.next = this.head.next;
                        this.head.next = node;                                            
                    }
                    this.size++;
                    return;
                }
            }    
            var Node = function(v){
                this.value = v;
                this.next = null;
            }
            var list = new LinkedList();
            list.addtoTail(34);
            list.addToHead(23);//add element to head
            list.addToSecond(12);//add element at second position
            console.log(list);
        </script>
    </body>
</html>