<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Slide 13 History object</title>
</head>
<body>
    <ul>
        <li><a href="slide10_windowsPrint.html">Link 1</a></li>
        <li><a href="slide10_windowsPrint.html">Link 2</a></li>
        <li><a href="slide10_windowsPrint.html">Link 3</a></li>
    </ul>
    <script>
      console.log(history.go(-1)); // Two steps back
      //history.go(3);  //  three steps forward
      //history.back();   // one steps back
      //history.forward();   // one steps forward
   </script>
</body>
</html>