@charset "ISO-8859-1";
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin:0px auto;
  color:black;
  background-color: lightyellow;
}

td, th {
  border: 1px solid black;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
