<!DOCTYPE html>
<html>
	<head>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Home</title>
		<link rel="stylesheet"
			  type="text/css"
			  href="./styles/main.css">
	</head>
	<body>
		<div class="main_container">
            <header>
                <div class="logo_title" id="top">
                    <img src="./images/logo.jpg" width="100" height="100"/>
                    <h1><center>My Company</center></h1>
                </div>
                <div class="navbar">
                    <a href="index.html">Home</a> 
                    <a href="./views/about.html">About Us</a>   
                    <a href="./views/registration.html">Register</a> 
    				<a href="./views/login.html">Login</a>    
    			    <!-- <a href="./views/gallery_pics.html">Gallery</a>  -->
                        <div class="dropdown">
                            <button class="dropbtn">Gallery
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown-content">
                                <a href="./views/pictures.html">Photos</a>
                                <a href="./views/videos.html">Videos</a>
                                <a href="./views/image_description.html">Book Store</a>
                            </div>
                        </div>   
                   <a href="./views/contactPage.html">Contact Us</a>      
                </div>
            </header>
            <div>
                <h4>Content</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus metus ex, 
                    efficitur sit amet sapien id, eleifend pretium massa. Sed sed nunc ut felis 
                    feugiat auctor non lacinia dui. Cras ut turpis nisi. Nam placerat augue eget 
                    metus lobortis suscipit. Vestibulum elit turpis, venenatis in interdum nec, 
                    ultrices scelerisque nulla. Aliquam erat volutpat. Nullam scelerisque urna 
                    commodo, aliquet leo vel, tristique dolor. Vivamus accumsan sem interdum 
                    nulla pretium eleifend. Proin id mauris eros. Cras in lectus nibh. Mauris 
                    facilisis sed purus vitae sagittis. Morbi ultricies ligula vitae est hendrerit 
                    rhoncus.
                </p>
                <p>Pellentesque eu ipsum sit amet metus congue tincidunt. Proin ac aliquam nisl, 
                    nec finibus ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Curabitur in dictum nisi, bibendum dignissim massa. Donec vitae gravida sapien.
                    Vestibulum dolor enim, ultrices eu porttitor eget, vehicula vitae dui. Duis nec 
                    sollicitudin lorem. Nulla pharetra diam sit amet lacus imperdiet, pharetra ultrices
                    est ultrices. Vivamus ultrices dapibus fermentum. Quisque eget neque ac justo 
                    ultricies faucibus. Pellentesque pretium augue sed sapien varius, nec pellentesque
                    sem egestas. Vivamus dolor enim, placerat a sodales in, accumsan sed tellus. 
                    Phasellus quis accumsan ante.
                </p>
                <p>Donec mollis sem eget tempor fringilla. Aenean felis dolor, condimentum vitae 
                    ex et, sollicitudin imperdiet felis. Fusce euismod est vel interdum commodo. 
                    In hac habitasse platea dictumst. Morbi a suscipit est. Lorem ipsum dolor 
                    sit amet, consectetur adipiscing elit. Nam facilisis ante eget odio imperdiet 
                    suscipit. Cras eget odio varius, suscipit lacus sed, condimentum urna. Integer
                    tristique eros vel congue interdum.
                </p>
                <p>In in nibh sit amet dui vestibulum mattis. Nam lectus ante, tempor at sem nec,
                    pharetra gravida ante. Fusce a dolor risus. Aenean lectus sapien, lobortis 
                    vel vulputate at, malesuada eu sem. Nulla consequat, est ullamcorper varius
                    ullamcorper, turpis ante faucibus dolor, quis lobortis felis mauris ut turpis.
                    Sed blandit urna in arcu vestibulum, non efficitur tellus hendrerit. 
                    Vestibulum ornare iaculis eros eu fermentum. Fusce interdum odio diam, in 
                    scelerisque libero egestas quis. Vivamus rutrum, leo et tincidunt vestibulum,
                    est magna bibendum metus, eu condimentum ipsum quam vel orci. Pellentesque 
                    habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                    Ut feugiat suscipit nisl, sollicitudin feugiat purus pharetra ut. Sed ac euismod
                    ligula. Nulla molestie nisi eget dolor luctus mattis. Donec nec felis ut nibh 
                    elementum egestas. Class aptent taciti sociosqu ad litora torquent per conubia
                    nostra, per inceptos himenaeos. Aliquam diam nibh, tristique non dignissim eu,
                    condimentum non neque.
                </p>
                <p>Aenean vitae sagittis neque, sit amet sodales neque. Vestibulum ante ipsum 
                    primis in faucibus orci luctus et ultrices posuere cubilia Curae; Vivamus 
                    ut diam venenatis, ullamcorper nisl id, vestibulum velit. Mauris pellentesque
                    euismod dui eget congue. Etiam tellus neque, consectetur at mi quis, finibus 
                    finibus lorem. Nam sagittis ligula ac turpis lacinia vulputate et at mauris. 
                    Sed sed leo sed tellus consequat pellentesque ac sed diam. Proin tellus leo, 
                    ultricies convallis lectus sit amet, commodo vulputate mauris. Nulla consequat
                    libero eget nunc mattis finibus. Vestibulum malesuada efficitur varius. In 
                    hac habitasse platea dictumst. Aliquam vel ex arcu. Phasellus eu odio lacinia,
                    volutpat mauris sollicitudin, tempus arcu.
                </p>
                <div>
                    <a href="#top">Go to Top</a>
                </div>                
            </div>
            <p></p>
            <footer>
                &copy;Copyright My Website. All rights reserved.
            </footer>
        </div>
	</body>
</html>