<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Registration</title>
        <!--Include the style sheets-->
        <link rel="stylesheet"
              type="text/css"
              href="../styles/main.css"> 
        <link rel="stylesheet"
              type="text/css"
              href="../styles/registration.css">

        <!-- Include external Java Script file-->
        <script type="text/javascript" src="validation.js"></script>
        <!-- Include jQuery -->
        <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                $("#gender").change(function(){
                    var selectedOption = $(this).find(":selected").val();
                    alert("You have selected: " + selectedOption);
                });
            });
        </script>
    </head>
    <body>
        <!-- Main container -->
        <div class="main_container">
            <header id="top">
                <!-- Logo and Title -->
                <!-- Logo and Title -->
                <div class="logo">
                    <img src="../images/logo.jpg" alt="Toystore Logo" width="125" height="125"/>
                    <h1><center>Toystore</center></h1>
                </div>
                <!-- Navigation Menu -->
                <div class="navbar">
                    <a href="../index.html">Home</a> 
                    <a href="../views/registration.html">Register</a> 
                    <a href="../views/login.html">Login</a> 
                        <!-- Dropdown Menu -->   
    			        <div class="dropdown">
                            <button class="dropbutton">Toys Catalog
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown_content">
                                <a href="../views/ageGroup1.html">Age 0-3</a>
                                <a href="../views/ageGroup2.html">Age 4-6</a>
                                <a href="../views/ageGroup3.html">Age 7-10</a>
                            </div>
                        </div> 
                   <a href="../views/aboutUs.html">About Us</a>  
                   <a href="../views/contactPage.html">Contact Us</a>      
                </div>
            </header>
            <div>
                <!--Registration Form-->
                <h3>Register Here</h3>
                <form id="form_container" name="registration" onSubmit="return formValidation();">
                    <!-- User First name and last name with validation for only capital
                         or small letters, required field -->
                    <div class="input_container">
                        <input class="input_field" type="text" 
                            title="Only letters no spaces"
                            placeholder="First Name" name="firstname">
                        <span style="width:10px;"></span>
                        <input class="input_field" type="text" 
                            title="Only letters no spaces"
                            placeholder="Last Name" name="lastname">
                    </div>
                    <!-- User name with validation of number/letter(capital or small)
                         with length between 5 to 20, required field -->
                    <div class="input_container">
                        <i class="fa fa-user icon"></i>
                        <input class="input_field" type="text" 
                            title="must be 5-20 characters long and can contain numbers"
                            placeholder="Username" name="username">
                    </div>
                    <!-- Password  field with validation with must have length beween 8 to 20 
                         characters and must have at least 1 letter and 1 number, required field -->
                    <div class="input_container">
                        <i class="fa fa-key icon"></i>
                        <input class="input_field" type="password" 
                            title="must be 8 - 20 characters long and must have letters, and numbers"
                            placeholder="Choose your password" name="pwd">
                    </div>
                    <!-- Confirm Password field with same validation as password field with must have 
                         length beween 8 to 20 characters and must have at least 1 letter and 1 number,
                         required field -->
                    <div class="input_container">
                        <i class="fa fa-key icon"></i>
                        <input class="input_field" type="password" 
                            title="must be 8 - 20 characters long and must have letters, and numbers"
                            placeholder="Confirm password" name="confirmpwd">                            
                    </div>
                    <!--Enter email with vaildation having number letters, '@' sign and '.' 
                        included in the format,required field -->
                    <div class="input_container">
                        <i class="fa fa-envelope icon"></i>
                        <input class="input_field" type="email" 
                            title="Must be in the email format"
                            placeholder="Email" name="email">
                    </div>
                    <!--Enter Gender as a dropdown, required field-->
                    <div class="input_container">
                        <select class="input_field" id="gender">
                            <option value="" disabled selected>Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select><br><br>
                    </div>
                    <!--Enter Date of birth in the mm/dd/yyyy format, required field-->
                    <div class="input_container">
                        <input class="input_field" type="date" 
                               title="Enter your date of birth." name="birthdate">
                    </div>
                    <!--Check box to accept terms and conditions, required field-->
                    <div class="input_container">
                        <input type="checkbox" name="checkbox">
                        <label><span class="check_box">I agree with terms and conditions</span></label>
                    </div>
                    <!-- Check box to opt for receiving news and offers, optional field-->
                    <div class="input_container">
                        <input type="checkbox">
                        <label><span class="check_box">I want to receive the news and offers</span></label>
                    </div>
                    <input type="submit" name ="mysubmit" action="thankyou.html" value="Sign Up"> 				
                </form>             
            </div>
            <!-- Anchor to the top -->
            <a href="#top" style="color:black;">Go To Top</a>
            <p></p>
            <!--Footer of a page -->
            <footer>
                &copy;Copyright 2019. All rights are reserved by Toystore
            </footer>           
        </div>
    </body>
</html>