<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Non Fiction Books</title>
        <link rel="stylesheet"
              type="text/css"
              href="../styles/main.css">
        <link rel="stylesheet"
              type="text/css"
              href="../styles/booksCatalog.css">
    </head>
    <body>
        <!-- Main container -->
        <div class="main_container">
            <header id="top">
                <!-- Logo and Title -->
                <div class="logo">
                    <img src="../images/logo.jpeg" alt="Bookstore Logo" width="125" height="125"/>
                    <h1><center>RJ's Bookstore</center></h1>
                </div>
                <!-- Navigation Menu -->
                <div class="navbar">
                    <a href="../index.html">Home</a> 
                    <a href="registration.html">Register</a> 
                    <a href="login.html">Login</a> 
                        <!-- Dropdown Menu -->   
    			        <div class="dropdown">
                            <button class="dropbutton">Book Catalog
                                <i class="fa fa-caret-down"></i>
                            </button>
                            <div class="dropdown_content">
                                <a href="kidsBooks.html">Kids</a>
                                <a href="fictionBooks.html">Fiction</a>
                                <a href="nonFiction.html">Non Fiction</a>
                            </div>
                        </div>   
                   <a href="contactPage.html">Contact Us</a>      
                </div>
            </header>
            <div>
                <!--Non fiction Book list created using grid-->               
                    <div class="column">
                        <div class="one">
                            <h4>Making things Happen</h4>
                            <img src="../images/nonfiction/nfbook1.png" alt="Making things Happen" width="150" height="200">
                            <h4>Price: $10.99</h4>                            
                        </div>
                        <div class="two">
                            <h4>Secrets of Flowers</h4>
                            <img src="../images/nonfiction/nfbook2.jpg" alt="Secrets of Flowers" width="150" height="200">
                            <h4>Price: $13.99</h4>
                        </div>                        
                    </div>
                    <div class="column">
                        <div class="three">
                            <h4>The Whole Brain Child</h4>
                            <img src="../images/nonfiction/nfbook3.jpg" alt="The Whole Brain Child" width="150" height="200">
                            <h4>Price: $19.99</h4>
                        </div>                   
                        <div class="four">
                            <h4>Set for Life</h4>
                            <img src="../images/nonfiction/nfbook4.jpg" alt="Set for Life" width="150" height="200">
                            <h4>Price: $16.50</h4>
                        </div>
                    </div>   
                    <p></p>                           
            </div>
            <p></p>
            <!-- Anchor to the top -->
            <a href="#top" style="color:black;">Go To Top</a>
            <p></p>
            <!--Footer of a page -->
            <footer>
                &copy;Copyright 2019. All rights are reserved by RJ's Bookstore
            </footer>
        </div>
    </body>
</html>