<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Slide 18 Transform</title>
		<link rel="stylesheet"
			  type="text/css"
			  href="../styles/mediaSlide18.css">
	</head>
	<body>
		<div class="box">
			<span>Slide 28</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
				Aliquam id tristique odio. Quisque lacus neque, volutpat scelerisque
				interdum quis, congue sed odio. Aenean vel metus non ante tempus
				posuere. Nullam efficitur id nisl placerat scelerisque. Class aptent
				taciti sociosqu ad litora torquent per conubia nostra, per inceptos
				himenaeos.
			</p>
	</div>
	</body>
</html>