<!DOCTYPE html>
<html>
    <head>
        <meta charset="ISO-8859-1">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About Us</title>
		<link rel="stylesheet"
			  type="text/css"
              href="../styles/main.css">
        <link rel="stylesheet"
			  type="text/css"
			  href="../styles/about.css">
	</head>
	<body>
		<div class="main_container">
            <header id="top">
                <div class="logo_title" id="top">
                    <img src="../images/logo.jpg" width="100" height="100"/>
                    <h1><center>My Company</center></h1>
                </div>
              <div class="navbar">
                <a href="../index.html">Home</a>  
                <a href="about.html">About Us</a> 
                <a href="../views/registration.html">Register</a> 
				<a href="../views/login.html">Login</a>    
			    <!-- <a href="./views/gallery_pics.html">Gallery</a>  -->
                    <div class="dropdown">
                        <button class="dropbtn">Gallery
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="../views/pictures.html">Photos</a>
                            <a href="../views/videos.html">Videos</a>
                            <a href="../views/image_description.html">Book Store</a>
                        </div>
                    </div>   
               <a href="../views/contactPage.html">Contact Us</a>      
            </div>
            </header>
            <div>
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus metus ex, 
                    efficitur sit amet sapien id, eleifend pretium massa. Sed sed nunc ut felis 
                    feugiat auctor non lacinia dui. Cras ut turpis nisi. Nam placerat augue eget 
                    metus lobortis suscipit. Vestibulum elit turpis, venenatis in interdum nec, 
                    ultrices scelerisque nulla. Aliquam erat volutpat. Nullam scelerisque urna 
                    commodo, aliquet leo vel, tristique dolor. Vivamus accumsan sem interdum 
                    nulla pretium eleifend. Proin id mauris eros. Cras in lectus nibh. Mauris 
                    facilisis sed purus vitae sagittis. Morbi ultricies ligula vitae est hendrerit 
                    rhoncus.
                </p>
                <p>Pellentesque eu ipsum sit amet metus congue tincidunt. Proin ac aliquam nisl, 
                    nec finibus ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                    Curabitur in dictum nisi, bibendum dignissim massa. Donec vitae gravida sapien.
                    Vestibulum dolor enim, ultrices eu porttitor eget, vehicula vitae dui. Duis nec 
                    sollicitudin lorem. Nulla pharetra diam sit amet lacus imperdiet, pharetra ultrices
                    est ultrices. Vivamus ultrices dapibus fermentum. Quisque eget neque ac justo 
                    ultricies faucibus. Pellentesque pretium augue sed sapien varius, nec pellentesque
                    sem egestas. Vivamus dolor enim, placerat a sodales in, accumsan sed tellus. 
                    Phasellus quis accumsan ante.
                </p>
            </div>
            <div>
                <table>
                    <tr>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Country</th>
                    </tr>
                    <tr>
                        <td>Alfreds Futterkiste</td>
                        <td>Maria Anders</td>
                        <td>Germany</td>
                    </tr>
                    <tr>
                        <td>Centro comercial Moctezuma</td>
                        <td>Francisco Chang</td>
                        <td>Mexico</td>
                    </tr>
                    <tr>
                        <td>Ernst Handel</td>
                        <td>Roland Mendel</td>
                        <td>Austria</td>
                    </tr>
                    <tr>
                        <td>Island Trading</td>
                        <td>Helen Bennett</td>
                        <td>UK</td>
                    </tr>
                    <tr>
                        <td>Laughing Bacchus Winecellars</td>
                        <td>Yoshi Tannamuri</td>
                        <td>Canada</td>
                    </tr>
                    <tr>
                        <td>Magazzini Alimentari Riuniti</td>
                        <td>Giovanni Rovelli</td>
                        <td>Italy</td>
                    </tr>
                </table>
            </div>
            <br>
            <a href="#top">Go To Top</a>
            <p></p>
            <footer>
                &copy;Copyright My Website. All rights reserved.
            </footer>
        </div>
    </body>
</html>