<!DOCTYPE html>
	<html>
	<head>
	<meta charset="ISO-8859-1">
	<title>Grid Properties Set1</title>
	<link rel="stylesheet"
				  type="text/css"
				  href="../styles/main.css">
	</head>
	<body>
        <div class="tutorial_container">
			<header>
				<h1>Learn CSS Grid </h1>
                    <ul>
						<li><a href="../index.html" style="text-decoration:none;">Home</a></li>
						<li><a href="../views/grid_properties_set1.html" style="text-decoration:none;">Grid Properties Set 1</a></li>
						<li><a href="../views/grid_properties_set2.html" style="text-decoration:none;">Grid Properties Set 2</a></li>
				   </ul>
			</header>
            <h1>Coming Soon</h1>
            <footer>
				<p> Learn CSS grid on this website. </p>
			</footer>
        </div>
	</body>
</html>