@charset "ISO-8859-1";
/* stylesheet for books catalog using grid */
.column{
    width:90%;
    padding:10px;
    display:grid;
    grid-gap:10px;
    font-size:12px;
    font-family: Arial, Helvetica, sans-serif;
    text-justify: auto;
} 
.one{
    grid-column: 1;
    grid-row: 1;
}
.two{
    grid-column: 2;
    grid-row: 1;
}
.three{
    grid-column: 1;
    grid-row: 2;
}
.four{
    grid-column: 2;
    grid-row: 2;
}