@charset "ISO-8859-1";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
/* import web fonts */
@import "https://fonts.google.com/?category=Serif,sans-serif";
/* main body properties */
html, body{
    background-color:#ff9f1c;
    font-family: Arial, Helvetica, sans-serif;
	color:white;
	margin:0;
	padding:0;
}
/* main container properties */
.main_container{
	width:70%;
    background-color: #0095b6;
    padding:10px;
    margin:0px auto; 
}
/* logo and title */
.logo{
    display:inline-flex;
    color:white;
    padding: 12px 12px;
    font-weight: bold;
}
/* navigation menu with dropdown */
.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 12px 12px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbutton {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 12px 12px;
  background-color: #333;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbutton {
  background-color: #b2ad7f;
}

.dropdown_content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  z-index: 1;
}

.dropdown_content a {
  float: none;
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown_content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown_content {
  display: block;
}
/* animation box styling */
.box{
    width: 18%;
    padding:3px;
    background-color:aqua;
    color:black;
    text-align: center;
    font-size:16px;
    font-weight: bold;
    animation-duration: 10s;
    animation-direction: alternate;
    animation-name: box;
    position: relative;
    animation-iteration-count: infinite;
    transition-timing-function:ease-in-out; 
}
@keyframes box{
    0%{left:0px;top:0px;}
    50%{left:80%;top:0px;}
    100%{left:0px;top:0px;}
}
/* style for table */
table td{
    padding:10px;
    text-align: left;
}

/* css for footer */
footer {
  position: fixed;
  bottom: 0;
  width: 70%;
  background-color: black;
  color: white;
  text-align: center;
  margin:0px auto;
 }